<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Follow iT</title>
    <link rel="stylesheet" href="/screen/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="sidebar">
        <div class="logo">

        </div>
        <ul class="menu">
            <li class="active">
                <a href="#">
                    <i class="fas fa-tachometer-alt"></i>
                    <span> Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/map">
                    <i class="fas fa-map"></i>
                    <span> Map</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-stream"></i>
                    <span> Utility</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-flag"></i>
                    <span> Reports</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-cog"></i>
                    <span> Admin</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span> settings</span>
                </a>
            </li>
            <li class="logout">
                <a href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    <span> Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main--content">
        <div class="header--wraper">

            <div class="header--title">
                <a href="/"><span>Dashboard</span></a>
                <a href="/map"><span>Map</span></a>

            </div>
            <div class="user--info">
                <h1>xyz</h1>

            </div>
        </div>
        <div class="card--container">
            <h3 class="main--title">
                All vehicle
            </h3>
            <div class="all-card">
                <div class="card--wrapper">
                    <div class="payment--card">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">All vehicle</span>
                                <!-- <span class="number"></span> -->
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="car-icon">
                            <i class="fas fa-car"></i>
                            <h4><%= totalDevice %></h4>
                        </div>
                        <div class="rectangular-box total-vehicle-box">
                            <h5 id="total-vehcle-color">Total vehicle</h5>
                        </div>
                    </div>
                </div>
                <div class="card--wrapper">
                    <div class="payment--card">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Running</span>
                                <!-- <span class="number"></span> -->
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="car-icon">
                            <i class="fas fa-car"></i>
                            <h4><%= runningDevice %></h4>
                        </div>
                        <div class="rectangular-box box-dark-green">
                            <h5><%=runningPer %> %</h5>
                            <h5>Running</h5>
                        </div>
                       
                    </div>
                    
                </div>
                <div class="card--wrapper">
                    <div class="payment--card">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Idle</span>
                                <!-- <span class="number"></span> -->
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="car-icon">
                            <i class="fas fa-car"></i>
                            <h4><%= idleDevice %></h4>
                        </div>
                        <div class="rectangular-box box-dark-yellow">
                            <h5><%=idlePer %> %</h5>
                            <h5>Idle</h5>
                        </div>
                    </div>
                </div>
                <div class="card--wrapper">
                    <div class="payment--card">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Stopped</span>
                                <!-- <span class="number"></span> -->
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="car-icon">
                            <i class="fas fa-car"></i>
                            <h4><%=stoppedDevice %></h4>
                        </div>
                        <div class="rectangular-box box-dark-red">
                            <h5><%=stoppedPer %> %</h5>
                            <h5>Stop</h5>
                        </div>
                    </div>
                </div>
                <div class="card--wrapper">
                    <div class="payment--card">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">Inactive</span>
                                <!-- <span class="number"></span> -->
                                <i class="icon"></i>
                            </div>
                        </div>
                        <div class="car-icon">
                            <i class="fas fa-car"></i>
                            <h4>0</h4>
                        </div>
                        <div class="rectangular-box light-blue">
                            <h5>0.0 %</h5>
                            <h5>Inactive</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>